* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    font-family: "Outfit";
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F5F5F5;
    box-shadow: 4px 4px 8.7px 0px #00000038, -4px -4px 8.7px 0px #FFFFFF;
    width: 646px;
    height: 324px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    gap: 50px;
    .title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .value{
        display: flex;
        flex-direction: row;
        width: 100%;
        .wrap {
            width: 100%;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 7px; 
            background: #9f8b8b;
            .dau {
                position: absolute;
                width: 100%;
                height: 7px;
                background: #9f8b8b;
            }
            .dodai {
                position: absolute;
                height: 7px;
                background: rgb(233, 10, 10); 
            }
            input {
                width: 100%;
                position: absolute;
                height: 5px;
                top: 0;
                left: 0;
                background: none;
                pointer-events: none; 
                -webkit-appearance: none;
            }
            input[type="range"]::-webkit-slider-thumb {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background: #F5F5F5;
                box-shadow: 4px 4px 8.7px 0px #00000038, -2px -2px 8.7px 0px #b0e5fa;
                pointer-events: auto;
                -webkit-appearance: none;
                cursor: pointer;
                position: relative;
                z-index: 2;
            }
            #maxrange {
                z-index: 3;
            }
            .label {
                position: absolute;
                z-index: 10;
                bottom: 30px;
                width: 60px;
                height: 12px;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 18px;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                background: #1E036A;
                box-shadow: 4px 4px 6.8px 0px #00000040, -4px -4px 8px 3px #FFFFFF;
                transform: translateX(-50%);
                white-space: nowrap;
            }
        }
    }
    .display {
        display: flex;
        flex-direction: row;
        gap: 36px;
        justify-content: space-between;
        .minprice {
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            box-shadow: 4px 4px 6.8px 0px #00000040, -4px -4px 7.8px 3px #FFFFFF;
            .o1 {
                border: 1px solid #00B0F5;
                background: #F5F5F5;
                width: 73px;
                height: 73px;
                border-width: 1px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #033e66;
                font-weight: 600;
                font-size: 32px;
            }
            .o2 {
                width: 173px;
                height: 73px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-width: 1px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-left-width: 1px;
                background: #F5F5F5;
                border-width: 1px, 1px, 1px, 1px;
                border-style: solid;
                border-color: #00B0F5;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #033e66;
                font-weight: 600;
                font-size: 32px;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #F5F5F5;
        box-shadow: 4px 4px 8.7px 0px #00000038, -4px -4px 8.7px 0px #FFFFFF;
        width: 400px;
        height: 250px;
        border-radius: 15px;
        padding: 40px;
        box-sizing: border-box;
        gap: 50px;
        .title {
            font-weight: 700;
            font-size: 24px;
        }
        .value{
            display: flex;
            flex-direction: row;
            width: 100%;
            .wrap {
                width: 100%;
                display: flex;
                flex-direction: row;
                position: relative;
                height: 4px; 
                background: #9f8b8b;
                .dau {
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background: #9f8b8b;
                }
                .dodai {
                    position: absolute;
                    height: 4px;
                    background: rgb(233, 10, 10); 
                }
                input {
                    width: 100%;
                    position: absolute;
                    height: 5px;
                    top: 0;
                    left: 0;
                    background: none;
                    pointer-events: none; 
                    -webkit-appearance: none;
                }
                input[type="range"]::-webkit-slider-thumb {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: #F5F5F5;
                    box-shadow: 4px 4px 8.7px 0px #00000038, -2px -2px 8.7px 0px #b0e5fa;
                    pointer-events: auto;
                    -webkit-appearance: none;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }
                #maxrange {
                    z-index: 3;
                }
                .label {
                    position: absolute;
                    z-index: 10;
                    bottom: 20px;
                    width: 40px;
                    height: 4px;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 12px;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 7px;
                    background: #1E036A;
                    box-shadow: 4px 4px 6.8px 0px #00000040, -4px -4px 8px 3px #FFFFFF;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
            }
        }
        .display {
            display: flex;
            flex-direction: row;
            gap: 36px;
            justify-content: space-between;
            .minprice {
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                box-shadow: 4px 4px 6.8px 0px #00000040, -4px -4px 7.8px 3px #FFFFFF;
                .o1 {
                    border: 1px solid #00B0F5;
                    background: #F5F5F5;
                    width: 40px;
                    height: 50px;
                    border-width: 1px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #033e66;
                    font-weight: 600;
                    font-size: 26px;
                }
                .o2 {
                    width: 100px;
                    height: 50px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top-width: 1px;
                    border-right-width: 1px;
                    border-bottom-width: 1px;
                    border-left-width: 1px;
                    background: #F5F5F5;
                    border-width: 1px, 1px, 1px, 1px;
                    border-style: solid;
                    border-color: #00B0F5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #033e66;
                    font-weight: 600;
                    font-size: 26px;
                }
            }
        }
    }
}